<a href="https://colab.research.google.com/github/WMinerva292/WMinerva292/blob/main/Assignment1PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSIGNMENT 1 - PYTHON BASICS**

Q1. Using Python script as a calculator create the variables n, r, p, and assign them values 10, 5, and 100 respectively. Then evaluate the following expression in the Python console.

A = p(1 + r/100)^n

a. 100
b. 162.89
c. 189
d. None of the above

In [ ]:
n = 10
r = 5
p = 100
A = p * (1 + r/100)**n
print(A)

162.8894626777442

Ans: b. 162.89

Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."

a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a))
d. None of the above

In [ ]:
A = 10
B = 20
Str = "There are {} students in the class with {} who play at least one sport. "
print(Str.format(A,B))

There are 10 students in the class with 20 who play at least one sport.

Ans: d. None of the above

Q3. In a given sample string, how do you print a double quoted string in between a regular string using the escape character?
Sample output = It goes without saying, "Time is Money", and none can deny it.

a. print("It goes without saying ,\"Time is Money\", and none can deny it.")
b. print("It goes without saying,\Time is Money\, and none can deny it.")
c. print("It goes without saying" + "Time is Money" + "and none can deny it.")
d. None of the above.

In [ ]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

Ans: a. print("It goes without saying ,\"Time is Money\", and none can deny it.")

Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)

a. 3.3333333333
b. 3
c. 30
d. 1000

In [ ]:
# lambda function for integer division
x = lambda a, b: a // b
x(10, 3)

3

Ans: b. 3

Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A==B
else
print("Greater") if A < B
else
print("True")

a. True
b. Smaller
c. Greater
d. None of the above

In [ ]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

Ans: c. Greater

Q6. What will be the output of the following code?

import os
import numpy as np
my_list1 = [2, 7, 3, 5, 4, 6]
print(my_list)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)

a. [2 7 3 5 4 6
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above

In [ ]:
import os
import numpy as np
my_list1 = [2, 7, 3, 5, 4, 6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

Ans: c. NameError: name 'numpy' is not defined

In [ ]:
# Correction
import os
import numpy as np
my_list1 = [2, 7, 3, 5, 4, 6]
print(my_list1)
arr_1 = np.array(my_list1, dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

Q7. Create a string called 'string' with the value as "Machine Learning". Which code(s) is/are appropriate to slice the substring "Learn"?

a. string[slice(13, 8, 1)]
b. string[slice(1, 8, 1)]
c. string[8:14]
d. string[slice(8, 13, 1)]

In [ ]:
# Creating string
string = "Machine Learning"

# Slicing to get "Learn"
substring = string[slice(8, 13, 1)]
print(substring)

Learn

Ans: d. string[slice(8, 13, 1)]

Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?

a. 3
b. 2
c. 0
d. 1

In [ ]:
# Creating a sequence from 10 to 25 incrementing by 4
sequence = list(range(10, 25, 4))

print(sequence)

# Finding the index of the value 18 in the sequence
index = sequence.index(18)

print(index)

[10, 14, 18, 22]
2

Ans: b. 2

Q9. Which of the following is true with respect to the below codes?

num1 = 5**4
num2 = pow(5,4)
print(num1,num2)

a. num1 = num2
b. num1 =/ num2
c. num1 < num2
d. num1 > num2

In [ ]:
num1 = 5**4
num2 = pow(5, 4)
print(num1, num2)

625 625

Ans: a. num1 = num2

Q10. A Python NameError exception is raised when:

a. Trying to access a variable which has not been defined.
b. Trying to access a key in a dictionary that does not exist.
c. Accessing a column with misspelled column name.
d. Accessing the functiion from a module that has not been imported.

Ans: a. Trying to access a variable which has not been defined.

Q11. What type of exception will be raised for the code given below?

x = "string"
int(x)

a. NameError
b. KeyError
c. ValueError
d. AttributeError

In [ ]:
x = "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

Ans: c. ValueError

Q12. A **FileNotFoundError** exception is raised by operating system errors when:

a. Trying to create a file or directory which already exists.
b. A file or directory is requested but does not exist in the working directory.
c. Trying to run an operation without the adequate access rights.
d. A directory operation, os.listdir() is requested on something which is not a directory.

Ans: b. A file or directory is requested but does not exist in the working directory.

Q13. Consider a variable Z. The value of Z is "ID-5632". Data type of Z is:-

a. Complex
b. Character
c. Integer
d. Boolean

In [ ]:
Z = "ID-5632"
type(Z)

str

Ans: b. Character

Q14. Which of the following variable(s) are character datatype?

a. K = "4"
b. J = "Welcome"
c. L = "?"
d. All of the above

In [ ]:
K = "4"
J = "Welcome"
L = "?"
print(type(K))
print(type(J))
print(type(L))

<class 'str'>
<class 'str'>
<class 'str'>

Ans: d. All of the above

Q15. Choose the symbol/s that does not have the ability to convert any values to string?

a. ()
b. ""
c. {}
d. #

In [ ]:
a = (123)
b = "welcome"
c = {"name": "John"}
d = #
print(type(b))
print(type(c))
print(type(d))

SyntaxError: invalid syntax (<ipython-input-6-d929623251e8>, line 4)

In [ ]:
a = (123)
b = "welcome"
c = {"name": "John"}
d = None #Assuming you want to assign None to d
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'dict'>
<class 'NoneType'>

In [ ]:
a = "(123)"
b = "welcome"
c = ({"name": "John"})
d = None #Assuming you want to assign None to d
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'dict'>
<class 'NoneType'>

Ans: d. #

Q16. Create a distionary 'Country' that maps the following countries to their capitals respectively:

Country: State
India: Delhi
China: Beijing
Japan: Tokyo
Qatar: Doha
France: Marseilles

Find 2 commands to replace "Marseilles" with "**Paris**" is:

In [2]:
# Creating the dictionary "Country"
Country = {
    "India": "Delhi",
    "China": "Beijing",
    "Japan": "Tokyo",
    "Qatar": "Doha",
    "France": "Marseilles"
}
print (Country)

# Replacing "Marseilles" with "Paris" (2 commands)
# Command 1: Direct assignment
Country["France"] = "Paris"
print (Country)

#Command 2: Using update() method
Country.update({"France": "Paris"})
print (Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

Q17. Create the tuples given below
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8,9, 4)
Identify which of the following code does not work on a tuple.

a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45

In [3]:
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

# Code that doesn't work on a tuple:
sum(tuple_1)

27

In [4]:
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

# Code that doesn't work on a tuple:
len(tuple_2)

3

In [5]:
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

# Code that doesn't work on a tuple:
tuple_2 + tuple_1

(8, 9, 4, 1, 5, 6, 7, 8)

In [6]:
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

# Code that doesn't work on a tuple:
tuple_1[3] = 45

TypeError: 'tuple' object does not support item assignment

Ans: d. tuple_1[3] = 45

Q18. How many elements in the following data struture?
S = {1, 2, 3, 4, 4, 4, 5, 6}

In [7]:
S = {1, 2, 3, 4, 4, 4, 5, 6}
# Elements in the above data structure:
print(len(S))

6

Ans: There are 6(six) elements in the data structure S = {1, 2, 3, 4, 4, 4, 5, 6}. The sets removes the duplicates automatically.

Q19. Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.

In [9]:
# Function to find all pythagorean triplets of triangles
# whose sides are not greater than a natural number N

def find_pythagorean_triplets(N):
    triplets = []
    for a in range(1, N + 1):
        for b in range(a, N + 1):
            c = (a**2 + b**2)**0.5
            if c.is_integer() and c <= N:
                triplets.append((a, b, int(c)))
    return triplets

#Example
N = 20
print(find_pythagorean_triplets(N))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]