<a href="https://colab.research.google.com/github/WMinerva292/WMinerva292/blob/main/LogRegQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# load the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression

In [32]:
# load the .csv file
df = pd.read_csv('/content/census-income .csv')

In [17]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  annual_income   32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [8]:
# find missing values
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
annual_income     0
dtype: int64

In [21]:
# impute the missing values "?" with NaN
df = df.replace('?', np.nan)

In [22]:
# find number of occupations we have in this dataset
df['occupation'].value_counts()

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [23]:
# Find number of people are working as tech support and having an annual income greater than 50k
df[(df['occupation'] == 'Tech-support') & (df['annual_income'] == '>50K')].shape[0]

283

In [24]:
# find number of total missing values in the dataset
df.isnull().sum().sum()

4262

In [29]:
#If there are missing values in the Marital Status column, replace the missing values:
df['marital-status'].value_counts()

# Replace the missing values
df['marital-status'] = df['marital-status'].fillna('Married-civ-spouse')

In [30]:
#How many people are having private work classes and are not from the United States of America?
df[(df['workclass'] == 'Private') & (df['native-country'] != 'United-States')].shape[0]

2561

In [33]:
#How many people are either having Annual Income(last column) less than or equal to 50k or their working hours is greater than or equal to 40 hrs:
df[(df['annual_income'] == '<=50K') | (df['hours-per-week'] >= 40)].shape[0]

31823

In [34]:
#Rename the last column as Annual Income
df = df.rename(columns={'annual_income': 'annual_income_last'})

#Remove the missing values from the dataset
df = df.dropna()

#Change the labels of categorical data into numerical data using Label Encoder.
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['gender'] = le.fit_transform(df['gender'])
df['annual_income_last'] = le.fit_transform(df['annual_income_last'])

#Split the dataset into a train and test of proportions 70:30 and set the random state to 0.
from sklearn.model_selection import train_test_split
X = df.drop('annual_income_last', axis=1)
y = df['annual_income_last']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

#Build a Logistic Regression Model on the data.
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

In [35]:
#Remove the missing values from the dataset
df = df.dropna()

In [46]:
#Change the labels of categorical data into numerical data using Label Encoder.
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['sex'] = le.fit_transform(df['sex'])
df['annual_income_last'] = le.fit_transform(df['annual_income_last'])
df['workclass'] = le.fit_transform(df['workclass'])
df['education'] = le.fit_transform(df['education'])
df['marital-status'] = le.fit_transform(df['marital-status'])
df['occupation'] = le.fit_transform(df['occupation'])
df['relationship'] = le.fit_transform(df['relationship'])
df['race'] = le.fit_transform(df['race'])
df['native-country'] = le.fit_transform(df['native-country'])
df['hours-per-week'] = le.fit_transform(df['hours-per-week'])
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,annual_income_last
0,39,7,77516,9,13,4,1,1,4,1,2174,0,39,39,0
1,50,6,83311,9,13,2,4,0,4,1,0,0,12,39,0
2,38,4,215646,11,9,0,6,1,4,1,0,0,39,39,0
3,53,4,234721,1,7,2,6,0,2,1,0,0,39,39,0
4,28,4,338409,9,13,2,10,5,2,0,0,0,39,5,0
5,37,4,284582,12,14,2,4,5,4,0,0,0,39,39,0
6,49,4,160187,6,5,3,8,1,2,0,0,0,15,23,0
7,52,6,209642,11,9,2,4,0,4,1,0,0,44,39,1
8,31,4,45781,12,14,4,10,1,4,0,14084,0,49,39,1
9,42,4,159449,9,13,2,4,0,4,1,5178,0,39,39,1

In [49]:
#Apply Label Encoding to each categorical feature
for feature in df:
    df[feature] = le.fit_transform(df[feature])

In [51]:
#Split the dataset into a train and test of proportions 70:30 and set the random state to 0.
from sklearn.model_selection import train_test_split
X = df.drop('annual_income_last', axis=1)
y = df['annual_income_last']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [52]:
#Build a Logistic Regression Model on the data.
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

In [53]:
#the accuracy score of the above model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8041764766096837

In [54]:
#What is the specificity of the above model?
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[6887,  520],
       [1393,  969]])

In [56]:
#What is the model’s precision when the target is False
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, pos_label=0)

0.8317632850241546

In [57]:
#What is the total support value from the above model?
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.93      0.88      7407
           1       0.65      0.41      0.50      2362

    accuracy                           0.80      9769
   macro avg       0.74      0.67      0.69      9769
weighted avg       0.79      0.80      0.79      9769

In [58]:
#What is the f1 score of the above model when the target is True?
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, pos_label=1)

0.503245910153207

In [59]:
#How many records are correctly classified by the model?
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[6887,  520],
       [1393,  969]])

In [63]:
#What is the entropy of the column Htype using the formula (-1 * np.sum(np.log2(probs) * probs)) where probs is the list of probability of each unique item in the column?

# Assuming 'data' is the DataFrame containing the 'Htype' column
probs = df['workclass'].value_counts(normalize=True).values
entropy = -1 * np.sum(np.log2(probs) * probs)
print(entropy)

1.647976927509927

In [65]:
#What is the total number of columns obtained post running the command pandas get_dummies in the raw data when the Initial columns count is 21?
import pandas as pd
df = pd.get_dummies(df)
df.shape[1]

IndexError: tuple index out of range

In [71]:
#How many records present with the following conditions age >= 25 and age <= 50, and inplans equals ‘bank’ and Cpur is either ‘Business’ or ‘electronics’ and foreign as ‘yes’?
df[(df['age'] >= 25) & (df['age'] <= 50) & (df['inplan_bank'] == 'bank') & ((df['Cpur'] == 'Business') | (df['Cpur'] == 'electronics')) & (df['foreign'] == 'yes')].shape[0]

KeyError: 'inplan_bank'