<a href="https://colab.research.google.com/github/WMinerva292/WMinerva292/blob/main/Python_CS_Practice_Set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset: https://drive.google.com/drive/folders/19bu-FgUWtBnNa-ZZM2ZJA8YBX5sZWlV8

Data Set Information:

This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail. The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.


Attribute Information:

1.	InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
2.	StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
3.	Description: Product (item) name. Nominal.
4.	Quantity: The quantities of each product (item) per transaction. Numeric.
5.	InvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.
6.	UnitPrice: Unit price. Numeric, Product price per unit in sterling.
7.	CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
8.	Country: Country name. Nominal, the name of the country where each customer resides.

1. What is the unique count of the invoice numbers:

Ans: 25900

2. How many people bought “PARTY BUNTING”.:

Ans.1727

3. How many people bought “WHITE HANGING HEART T-LIGHT HOLDER”.

Ans.2369

4. how many unique people are from “UNITED KINGDOM:

Ans.361878D.

5. Which customer(CustomerID) has done highest transaction in the dataset.  

Ans.14646

6. What is the average amount of transactions:

Ans.17.98

7. What is the frequently bought item in the dataset

Ans. WHITE HANGING HEART T-LIGHT HOLDER

8. Create a DataFrame with unique description of item ,count of the item ,total amount paid for the item. Then get the least purchased item.

A.FILIGREE DIAMANTE CHAIN
B.GLASS BELL JAR SMALL
C.GLASS BELL JAR LARGE
D.All the above - Ans
  
9. Which algorithms are used for solving Classification problems?

Ans.Decision Tree

10. How to handle Outliers ,if the column is numeric?

Ans. Replace Outliers by median

11. Which of the following is also called Normal Distribution?

Ans.Gaussian Distribution
  
12. Which of the following metrics are used to evaluate classification models?

A. Area under the ROC curve
B. F1 score
C. Confusion matrix
D. All of the above - Ans


13. Which function is used for calculating Precision of the model?

Ans.classification_report()

14. Which parameters are used to know the performance of regression model?

A.adjusted r2_score()
B.map
C. rmse value
D.All of the above - Ans


15. Random forest model uses:

Ans.Bagging

In [1]:
# Loading Configurations
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Loading Dataset
df = pd.read_csv('/content/OnlineRetail.csv', encoding= 'latin-1')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [5]:
print(df.shape)

(541909, 8)

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

In [7]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [8]:
print(df.describe())

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [9]:
#Most popular products
df['Description'].value_counts().head(10)

Description
WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
ASSORTED COLOUR BIRD ORNAMENT         1501
SET OF 3 CAKE TINS PANTRY DESIGN      1473
PACK OF 72 RETROSPOT CAKE CASES       1385
LUNCH BAG  BLACK SKULL.               1350
NATURAL SLATE HEART CHALKBOARD        1280
Name: count, dtype: int64

In [10]:
# Unique count of invoice number
df['InvoiceNo'].nunique()

25900

In [13]:
# Number of unique people from United Kingdom
df[df['Country'] == 'United Kingdom']['CustomerID'].nunique()

3950

In [14]:
# Drop rows with missing Customer ID
df.dropna(subset=['CustomerID'], inplace=True)

In [15]:
# Calculate the total amount per transaction line
df['TotalAmount'] = df['Quantity'] * df['UnitPrice']

In [17]:
#Group by Customer ID and sum the Total Amount for each customer
customer_spending = df.groupby('CustomerID')['TotalAmount'].sum()

In [19]:
# Find the Customer ID with the maximum transaction total
top_customer_id = customer_spending.idxmax()
print("Customer ID with the maximum transaction total:", top_customer_id)

Customer ID with the maximum transaction total: 14646.0

In [20]:
# Average amount of transaction
average_transaction_amount = customer_spending.mean()
print("Average transaction amount:", average_transaction_amount)

Average transaction amount: 1898.4597012808783

In [21]:
# Frequently bought item in the Dataset
most_bought_item = df['Description'].value_counts().idxmax()
print("Most frequently bought item:", most_bought_item)

Most frequently bought item: WHITE HANGING HEART T-LIGHT HOLDER

In [22]:
# Group by 'Description' to calculate the count and total amount paid for each item
item_summary = df.groupby('Description').agg({'Quantity': 'sum', 'TotalAmount': 'sum'})
print(item_summary)

                                  Quantity  TotalAmount
Description
 4 PURPLE FLOCK DINNER CANDLES         140       270.76
 50'S CHRISTMAS GIFT BAG LARGE        1883      2269.75
 DOLLY GIRL BEAKER                    2391      2750.75
 I LOVE LONDON MINI BACKPACK           360      1454.00
 I LOVE LONDON MINI RUCKSACK             1         4.15
...                                    ...          ...
ZINC T-LIGHT HOLDER STARS SMALL       4850      3843.46
ZINC TOP  2 DOOR WOODEN SHELF            5        92.75
ZINC WILLIE WINKIE  CANDLE STICK      2595      2166.75
ZINC WIRE KITCHEN ORGANISER             25       156.80
ZINC WIRE SWEETHEART LETTER TRAY        80       253.24

[3896 rows x 2 columns]

In [23]:
# Find the least puchase item
least_purchased_item = item_summary['Quantity'].idxmin()]
print("Least purchased item:", least_purchased_item)

Least purchased item: ROTATING SILVER ANGELS T-LIGHT HLDR