<a href="https://colab.research.google.com/github/WMinerva292/WMinerva292/blob/main/Python_1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Variables**

## **1. Assigning Values**

1. Assigning a single value to a variable:

In [1]:
a = 10
name = 'Victor'
salary = 15000.00
print (a)
print (name)
print (salary)

10
Victor
15000.0

2. Assigning multiple values to a variable:

In [2]:
a = b = c = 10
x, y, z = 10, 20, 30
print (y)
print (z)
print (a)

20
30
10

## **2. Getting User Input**

In [3]:
# Get user's name as input
name = input("Enter your name: ")

Enter your name: Minerva

# **Python Data Types**

1. Integer
2. Float
3. String
4. Boolean

## **Conditional Statements**

1. If Statement
2. If-else Statement
3. If-elif Statement

In [4]:
# If
isUserLoggedIn = False

if not isUserLoggedIn:
  print("Redirect to login")

print("Make Purchaase")

Redirect to login
Make Purchaase

In [6]:
# If-else
youAreSick = True

if youAreSick:
  print("Go to Doctor")
else:
  print("Go and play football")

Go to Doctor

In [7]:
# If-else
youAreSick = False

if youAreSick:
  print("Go to Doctor")
else:
  print("Go and play football")

Go and play football

In [8]:
# If-elif
marks = 95
if marks >=90:
  print("Grade is A")
elif marks >=80:
  print("Grade is B")
else:
  print("Grade is C")

Grade is A

## **Looping Statement**

1. For Loop
2. While Loop

In [9]:
# For Loop

for num in range (0, 10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [10]:
# While Loop

count = 0
while count < 10:
  print (count)
  count += 1

0
1
2
3
4
5
6
7
8
9

# **Lists**

### **List Operations:**

1. Create
2. Initialize
3. Append
4. Delete

In [11]:
# Create

names = list()
age = []
print (age)

[]

In [12]:
# Initialize

age = [25, 18, 21]
print (age)

[25, 18, 21]

In [13]:
# Append

age.append(30)
print (age)

[25, 18, 21, 30]

In [14]:
# Delete

age.pop()
print (age)

[25, 18, 21]

In [18]:
age.pop()
print (age)

[25, 18]

In [19]:
age.pop()
print (age)

[25]

In [24]:
age.append(45)
print (age)

[45, 45]

In [25]:
age.pop(1)
print (age)

[45]

## **Tuples**

### **Tuple Operations:**

1. Create
2. Initialize
3. Search
4. Slice

In [26]:
# Create

options = ()
names = tuple()
print (options)

()

In [27]:
# Initialize

age = 25, 18, 21
print (age)

(25, 18, 21)

In [28]:
# Search

print (age)

(25, 18, 21)

In [29]:
21 in age

True

In [30]:
age.index(21)

2

In [31]:
age.index(25)

0

In [32]:
age.index(18)

1

In [33]:
# Slice

age = (25, 18, 25, 40, 50, 45)
print (age)

(25, 18, 25, 40, 50, 45)

In [34]:
print (age [1:4])

(18, 25, 40)

## **Dictionaries**

### **Dictionary Operations:**

1. Create
2. Initialize
3. Add
4. Remove
5. Search

In [35]:
# Create

names = {}
age = dict()
print (age)

{}

In [36]:
# Initialize

age_list = [['a',10], ['b',20], ['c',30]]
age = dict(age_list)
print (age)

{'a': 10, 'b': 20, 'c': 30}

In [37]:
age = {'a':10, 'b':20, 'c':30}
print (age)

{'a': 10, 'b': 20, 'c': 30}

In [40]:
# Add

age['d'] = 40
print (age)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [41]:
# Remove

del age['a']
print (age)

{'b': 20, 'c': 30, 'd': 40}

In [42]:
# Search

'b' in age

True

## **Creating a Function**

### **Parts of Function:**

1. Name
2. Parameters
3. Return Statement

In [43]:
# Function:

def add_two_numbers(a, b):
  print("Adding two numbers")
  return a + b

### **Types of Function:**

1. User Defined Function
2. Built-in Defined Function

In [51]:
# User-Defined Function:

def find_max(nums):
  result = nums[0]
  for x in nums:
    if x > result:
      result = x
  return result

In [52]:
find_max([1, 2, 3, 4, 5])

5