<a href="https://colab.research.google.com/github/WMinerva292/WMinerva292/blob/main/Python_2_Module_1_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Module 1 Assignments**

## **Assignment 1: If-Else Statement**

**Problem Statement:** You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the if-else condition.

**Tasks To Be Perform:**
1. Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater using if condition. Think about all the edge cases, and print the statements accordingly.

In [ ]:
# Input values
a = 10
b = 20

# Check if a is greater or b is greater
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

## **Assignment 2 - Conditional Statements**

**Problem Statement:** You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the if-else condition.

**Tasks To Be Performed:**
1. Take three user inputs and print the greatest number from those inputs using if-else condition. Edge cases, if any, should also be handled.

In [ ]:
# Input values
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))

# Check the greatest
if a >= b and a >= c:
    print("The greatest number is:", a)
elif b >= a and b >= c:
    print("The greatest number is:", b)
else:
    print("The greatest number is:", c)

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
The greatest number is: 30.0

In [6]:
#Input values
a = 10
b = 20
c = 30

# Check the greatest number
if a >= b and a >= c:
    print("The greatest number is a")
elif b >= a and b >= c:
    print("The greatest number is b")
else:
    print("The greatest number is c")

The greatest number is c

## **Assignment 3 - Loops Assignment 1**

**Problem Statement:** You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the looping statements.

**Tasks To Be Performed:**
1. Print the numbers from 1 to 10 using while loop.

In [2]:
# While loop:

i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

## **Assignment 4 - Loops Assignment 2**

**Problem Statement:** You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the looping statements.

**Tasks to Be Performed:**
1. Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help of while loop fetch the even numbers and print the numbers.

In [3]:
# List
values = [10, 23, 4, 26, 4, 75, 24, 54]

# While loop
i = 0
while i < len(values):
    if values[i] % 2 == 0:
        print(values[i])
    i += 1

10
4
26
4
24
54

## **Assignment 5 - Loops Assignment 3**

**Problem Statement:** You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the looping statements.

**Tasks To Be Performed:**
1. Create an array that has user defined inputs and with the help of for loop, fetch all the prime numbers and print the numbers.

In [4]:
# User-Defined Inputs
array = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# For loop
for num in array:
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7

## **Case Study 1 - Getting Started With Python**

**Problem Statement:**
Consider yourself to be Sam who is a Data Scientist. He has been invited as a guest lecturer at a college to take an introductory session on Python.

**Tasks To Be Performed:**
1. Create a list containing squares of numbers from 1 to 10 (HINT: Use List Comprehension).
2. Write a function to check if the year number is a leap year.
3. Write a function to take an array and return another array that contains the members of the first array that are even.
4. Write a function that takes 2 arrays and prints the members of the first array that are present in the second array. (HINT: Use Membership Comprehension)

In [5]:
# 1. List containing squares of numbers from 1 to 10

x = [x**2 for x in range(1, 11)]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# 2. To write a function to check if the year is a leap year.

def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

In [11]:
# Example usage:

year = 2024
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2024 is a leap year.

In [13]:
# Example Usage 2:

print(is_leap_year(2023))

False

In [19]:
# 3. Function to return even numbers from an array

def get_even_numbers(arr):
    return [x for x in arr if x % 2 == 0]

# Example Usage:

print (get_even_numbers([1, 2, 3, 4, 5, 6]))

[2, 4, 6]

In [18]:
# 4. Function to print members of the first array that are present in the second array.

def print_common_elements(arr1, arr2):
  common_elements = [x for x in arr1 if x in arr2]
  print(common_elements)

# Example usages:

print_common_elements([1, 2, 3, 4, 5], [3, 4, 5, 6, 7])

[3, 4, 5]

## **Case Study 2 - Introduction To Python**

**Problem Statement:**

Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.

**Tasks To Be Performed:**
1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):

a. Concatenate the two tuples and store it in “t_combine”

b. Repeat the elements of “t_combine” 3 times

c. Access the 3rd element from “t_combine”

d. Access the first three elements from “t_combine”

e. Access the last three elements from “t_combine”

2. Create a list ‘my_list’ with these elements:

a. First element is a tuple with values 1, 2, 3

b. Second element is a tuple with values “a”, “b”, “c”

c. Third element is a tuple with values True, False

3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:

a. Append a new list – [“sparta”, 123] to my_list

4. Create a dictionary ‘fruit’ where:

a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)

b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)

c. Extract all the keys from ‘fruit’

d. Extract all the values from ‘fruit’

5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.

In [1]:
# Task 1: To create tuples

tuple1 = (10, 20, 30)
tuple2 = (40, 50, 60)

In [2]:
# a. To concatenate the tuples

t_combine = tuple1 + tuple2
print("Concatenated tuple:", t_combine)

Concatenated tuple: (10, 20, 30, 40, 50, 60)

In [3]:
# b. To repeat the elements of t_combine 3 times

t_repeated = t_combine * 3
print ("Repeated element:", t_repeated)

Repeated element: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [4]:
# c. To access the 3rd element from t_combine

third_element = t_combine[2]
print ("Third element of t_combine:", third_element)

Third element of t_combine: 30

In [5]:
# d. To access the first three elements from t_combine

first_three_elements = t_combine[:3]
print ("First three elements from t_combine:", first_three_elements)

First three elements from t_combine: (10, 20, 30)

In [6]:
# e. To access the last three elements from t_combine

last_three_elements = t_combine[-3:]
print ("Last three elements from t_combine:", last_three_elements)

Last three elements from t_combine: (40, 50, 60)

In [2]:
# Task 2: To create a list 'my list'

my_list =  [(1, 2, 3), # a. first element as a tuple
      ("a", "b", "c"), # b. second element as a tuple
       (True, False)]  # c. third element as a tuple
print("The list:", my_list)

The list: [(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [3]:
# Task 3: To append a new tuple to my_list

my_list.append((1, 'a', True))
print("Updated list:", my_list)

Updated list: [(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [4]:
# a. To append a new list to my_list

my_list.append(["sparta", 123])
print("Updated list:", my_list)

Updated list: [(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [5]:
# Task 4: To create a dictionary 'fruit'

fruit = {
    'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), # a. The first given key-values pairs
    'Cost': (85, 54, 120, 70)                       # b. The second given key-values pairs
}

In [7]:
# c. To extract all the keys from 'fruit'

fruit_keys = fruit.keys()
print("All the keys from 'fruit':", fruit_keys)

All the keys from 'fruit': dict_keys(['Fruit', 'Cost'])

In [8]:
# d. To extract all the values from 'fruit'

fruit_values = fruit.values()
print("All the values from 'fruit':", fruit_values)

All the values from 'fruit': dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [9]:
# Task 5: To create a set named 'my_set'

my_set = {1, 1, 'a', 'a', True, True}
print("The set:", my_set)

The set: {1, 'a'}